.img-custom{
    width: 50px !important;
    height: 50px !important;
}

#sexoIcon{
    left: 5px;
    margin-top: 60px;
    font-size: 20px;
}

.fa-venus{
    margin-right: 20px;
    color: #ffc0cb;
}
.fa-mars{
    color: #0000ff;
}
.fa-venus-mars{
    margin-left: 20px;
    color: #808080;
}

.lista-qtd-linguagem{
    cursor: pointer;
}

.lista-qtd-linguagem span{
    padding: 5px;
    min-width: 35px;
    height: 15px;
}
.lista-qtd-linguagem-container li{
    letter-spacing: 0.5px;
    cursor: pointer;
    background-color: #b1b1b150;
    box-shadow: inset 2px 2px 3px #013a1a26,
    inset -2px -2px 3px #013a1a65;
}
.lista-qtd-linguagem-container h4{
    display: flex;
    justify-content: space-between;
}

.lista-qtd-linguagem:hover{

    background-color: #246e46;
    box-shadow: inset 3px 3px 6px #bebebebe,
              inset -3px -3px 6px #013a1a;
    color: #fff;
}

.lista-qtd-linguagem-container{
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lista-qtd-linguagem-container ul{
    width: 400px;
    font-size: 25pt;
}

.lista-qtd-linguagem-container ul li a{
    font-size: 12pt;
}

.lista-qtd-linguagem-container .list-group-item-action{
    letter-spacing: 2px;
    font-size: 14pt;
}