#logo{
    background-color: #007bff;
    width: 90px;
    height: 90px;
    margin-top: -4px;
    margin-right: 5px;
    border-radius: 100%;
   
}

#logo:hover{
    background-color: #fff !important;
   
}

.primeira-logo-text{
    margin-left: 10px;
    padding: 0px;
    font-weight: 1000;
    color: #007bff;
    font-size: 42px;
    letter-spacing: 2px;

}

.segunda-logo-text{
    margin: 0px;
    padding: 0px;
    font-weight: 1000;
    color: #007bff;
    font-size: 42px;
    letter-spacing: 2px;

}

.logo-text{

    font-weight: 1000;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
}

.fa-bars{
    color: #00000078;
    font-size: 30pt;
}

.navbar-custom{
    background-color: #08567a;
    box-shadow: 1px 1px 1px #0808083a;
    padding-top: 20px; 
    padding-bottom: 20px; 
}

ul li a{
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
}

ul li a:hover{
   color: #007bff !important;
   
}

@media (max-width: 575.98px) {

    .fa-bars{
        font-size: 25pt;
    }
    
    #logo{
        border-radius: 30%;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 50px;
        height: 50px;
    }

    .navbar-custom{
        padding-top: 0px; 
        padding-bottom: 0px; 
    }
 }

 @media (max-width: 767.98px) { 

    .navbar-custom{
        padding-top: 0px; 
        padding-bottom: 0px; 
    }

    /* ================================================== */
    #logo{
     
        width: 50px;
        height: 50px;
        margin-top: -2px;
        border-radius: 100%;
       
    }
    
    .primeira-logo-text{
        font-weight: 800;
        color: #007bff;
        font-size: 22px;
    
    }
    
    .segunda-logo-text{
        font-weight: 800;
        color: #007bff;
        font-size: 22px;
    
    }
    
    .logo-text{
        font-weight: 700;
        color: #fff;
        font-size: 8px;
        letter-spacing: 1px;
    }
  }



@media screen and (max-width: 992px) {


    .navbar-custom{
        padding-top: 0px; 
        padding-bottom: 0px; 
    }

    /* ================================================== */
    #logo{
     
        width: 50px;
        height: 50px;
        margin-top: -2px;
        border-radius: 100%;
       
    }
    
    .primeira-logo-text{
        font-weight: 800;
        color: #007bff;
        font-size: 22px;
    
    }
    
    .segunda-logo-text{
        font-weight: 800;
        color: #007bff;
        font-size: 22px;
    
    }
    
    .logo-text{
        font-weight: 700;
        color: #fff;
        font-size: 8px;
        letter-spacing: 1px;
    }

  
	
}