.home-container{
    padding: 10px 0px;
    min-height: 78vh;
}

.home-container ul li{
    font-size: 10pt;
}

.titulo{
    background-color: #015d2a;
    color: #fff;
    text-align: center;
}

@media (max-width: 575.98px) { 

    ul li{
        font-size: 12px;
    }

}
