.container-listaDeContatos{
    min-height: 90vh;
}
#img-card{
    /* border-radius: 10px; */
    /* margin-bottom: 4px; */
    /* min-width: 260px !important; */
    height: 12rem;
    /* border-right: 1px solid #a8a8a8;
    border-left: 1px solid #a8a8a8; */
    /* box-shadow: 0.3px 0.3px 1px #8f8f8f,
    -0.3px -0.3px 1px #8f8f8f; */
}

#snackBar{
    /* max-width: 400px; */
    display: flex;
    align-items: center;
}

#alertaDeSucesso{
    position: relative;               
    /* top: 50%;                          */
    /* transform: translate(0, -50%);   */
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
}
.filtro-container{
    background-color: #015d2a38;
    border: 1px solid #015d2a;

}
 
#lista-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

#cardUsuario{
    /* box-shadow: 1px 1px 2px #d1d1d1; */
    background-color: #fff;
    margin: 20px 10px 40px 10px;
    border-radius: 5px;
    max-width: 250px;
    
}

.card-body-container{
    /* 1px 1px 4px #b1b1b1; */
    padding: 0px 10px;
    /* -1px -1px 1px #b1b1b1; */
}

#card-info-usuario{
    margin-top: 10px; 
}

#btn-contato-container{
    width: 264px;
}
#menu-card-header{
    /* margin-bottom: 65px; */
    /* position: absolute; */
    /* padding: 0px !important; */
    /* border: 1px solid red; */
    /* border-radius: 50%;*/
    /* background-color: rgba(0,0,0,.03); */
    margin-left: -5px;
    /* background-color: #fff; */
    /* margin-right: 10px; */

    display:flex;
    justify-content:center;
    align-items:center;
}

#menu-card-header .fa-trash{
    color: #a51010;
    margin-right: 13px;
}

#menu-card-header .fa-edit{
    font-size: 14pt;
    color: #3d413d;
    cursor: pointer;

}
.card-header{
    font-weight: bold;
    /* padding: 8px; */
    font-size: 11pt;
}
.badge-pill:hover{
    color: #fff;
}

#card-info-usuario p{
    color: #000000;
    margin: 2px;
    /* padding: 0px; */
    font-size: 10pt;
}


@media (max-width: 575.98px) { 
    #lista-body{
        display: flex;
        flex-direction: column;
           
    }

    .contato-h1{
        font-weight: 200;
        letter-spacing: 2px;
        font-size: 40px;
    
    }

    #cardUsuario{
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 14rem;
    }

    #img-card{
        max-width: 8rem;
        height: 8rem;
    }

    #numeroDoCard2{
       
        margin-top: -25px;
        margin-left: 110px;
    }

    .femCor{
        background-color: pink;

    }

    .mascCor{
        background-color: blue;
    }

}