.container-listaDeContatos{
    min-height: 90vh;
}
#img-card{
    margin-bottom: 5px;
    max-width: 9rem;
    height: 8rem;
    box-shadow: 2px 1px 2px #b8b8b8;
}
.filtro-container{
    background-color: #015d2a38;
    border: 1px solid #015d2a;

}
 
#lista-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}



#cardUsuario{
    background-color: #fff;
    margin: 20px 10px 40px 10px;
    border-radius: 5px;
    padding: 0px;
    box-shadow: 1px 1px 1px #b1b1b1,
                1px 1px 4px #b1b1b1,
                -1px -1px 1px #b1b1b1;
    max-width: 230px;
    
}
#card-info-usuario{
    margin-top: 10px; 
}

#btn-contato-container{
    margin-top: -25px;
    margin-left: 110px;
}

.badge-pill:hover{
    color: #fff;
}

#card-info-usuario p{
    color: #000000;
    margin: 2px;
    padding: 0px;
    font-size: 10pt;
}


@media (max-width: 575.98px) { 
    #lista-body{
        display: flex;
             flex-direction: column;
           
    }

    .contato-h1{
        font-weight: 200;
        letter-spacing: 2px;
        font-size: 40px;
    
    }

    #cardUsuario{
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 14rem;
    }

    #img-card{
        max-width: 8rem;
        height: 8rem;
    }

    #numeroDoCard2{
       
        margin-top: -25px;
        margin-left: 110px;
    }


}

@media (min-width: 576px) and (max-width: 767.98px) { 

    .LesteTel_h1{
        letter-spacing: 10px;
        font-size: 70px;
    }

 }