@media (max-width: 575.98px) {
    .contato-h1{
        font-size: 28px;
    }
    
 }

 .closeIcon{
     color: #ff0000;
     margin-top: -30px;
     margin-right: -34px;
 }

 .closeIcon:hover{
    color: #ff0000;
}