.container-editarContato{
    margin: 10px 0px;
    min-height: 80vh;
}

.container-editarContato label{
    font-weight: bold;
    font-size: 10pt;
}

.input-url{
    padding-right: 30px;
}

.closeIcon{
    color: #ff0000;
    margin-top: -30px;
    margin-right: -5px;
}

.closeIcon:hover{
   color: #ff0000;
}

.imagem-editar{
    max-height: 250px;
    max-width: 300px;
}

@media (max-width: 575.98px) {

    .closeIcon{
        margin-right: -16px !important;
    }
    
    /* .card-img-top{
        width: 8rem;
        height: 7rem;
    } */

    .card-text{
        font-size: 10pt;
        margin: 3px 0px 3px 0px;
    }

    form label{
        font-weight: bold;
        font-size: 12px;
    }
    .closeIcon{
        margin-right: -5px !important;
    }
 }




