html, body{
  font-family: Helvetica,Arial,sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: #015d2a;
}

.jumbotron{
  background-color: #247047;
  box-shadow: inset 3px 3px 6px #bebebebe,
              inset -3px -3px 6px #013a1a;
}

.leste-bg-escuro{
  background-color: #015d2a !important;
  color: white;
}
.border-leste-escuro{
  border: 1px solid #015d2a;
}

.titulo{
  text-align: center;
  background-color: #246e46;
  box-shadow: inset 3px 3px 6px #bebebebe,
            inset -3px -3px 6px #013a1a;
}

.jumbotron h1{
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 40px;
  color: #fff;
}

.input-leste{
  border: 1px solid #015d2a;
}

.btn-leste{
  background-color: #015d2a;
  color: #fff;
}

.btn-leste:hover{
  color: #fff;
  background-color: #00AD4F;
}

.btn-leste-outline{
  background-color: #FFF;
  color: #015d2a;
  border: 1px solid #015d2a;
}

.btn-leste-outline:hover{
  background-color: #015d2a;
  color: #fff;
}

@media (max-width: 575.98px) { 
  .jumbotron h1{
    letter-spacing: 2px;
    font-size: 20px;
  }
}